<!-- Block header -->
<div id="dashboard-header" class="row">
    <div class="col-xs-10 col-sm-4">
        <h3><i class="fa fa-edit fa-md"></i> <b><?= $title; ?></b></h3>
    </div>
</div>
<div class="clearfix"></div>
<!-- /Block header -->

<!-- Block content -->
<div class="row">
    <div class="col-xs-12">
        <div class="box-conten no-padding">

            <!-- Add Page form -->
            <?= $this->tag->form(['id' => 'add-page', 'class' => 'form-horizontal', 'method' => 'post']); ?>
            <div class="form-group">
                <label for="title" class="control-label col-sm-3">Title</label>

                <div class="col-sm-6">
                    <?= $form->render('title', [
                        'placeholder' => 'Input page title',
                        'class' => 'form-control',
                        'maxlength'     => '150',
                    ]); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="content" class="control-label col-sm-3">Content</label>

                <div class="col-sm-6">
                    <?= $form->render('content', [
                        'class' => 'col-sm-5 form-control',
                    ]); ?>
                </div>
            </div>

            <div class="form-group">
                <label for="host" class="control-label col-sm-3">Alias</label>

                <div class="col-sm-6">
                    <?= $form->render('alias', [
                        'placeholder' => 'Input page alias',
                        'class' => 'col-sm-5 form-control',
                        'maxlength' => '32',
                    ]); ?>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 ">
                    <?= $form->render('save', ['value' => 'Save', 'class' => 'btn btn-primary btn-lg btn-block']); ?>
                </div>
            </div>
            </form>
            <!-- /Add Page form -->
        </div>
    </div>
</div>

<!-- Block content -->
<script type="text/javascript">
    $(document).ready(function () {

        // Create Wysiwig editor for textarea
        TinyMCEStart('#content-page', null);

        // Load  form validation
        LoadBootstrapValidatorScript(
            $('#add-page').bootstrapValidator({
                feedbackIcons: {
                    valid: 'fa fa-check',
                    invalid: 'fa fa-times',
                    validating: 'fa fa-refresh'
                },
                message: 'This value is not valid',
                fields: {
                    title: {
                        message: 'The title is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The title is required and can\'t be empty'
                            },
                            stringLength: {
                                min: 3,
                                max: '150',
                                message: 'The title must be more than 3 and less than 150 characters long'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9_\. ]+$/,
                                message: 'The name can only consist of alphabetical, number, dot, underscore and space'
                            }
                        }
                    },
                    alias: {
                        message: 'The alias is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The alias is required and can\'t be empty'
                            },
                            stringLength: {
                                min: 3,
                                max: '32',
                                message: 'The alias must be more than 3 and less than 32 characters long'
                            }
                        }
                    }
                }
            })
        );
    });
</script>