<!DOCTYPE html>
<html data-ng-app="app">
    <head>
        <base href="/">
        <!-- Get meta -->
        <?= $this->tag->tagHtml('meta', ['charset' => 'UTF-8']) . PHP_EOL; ?>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge; chrome=1">
        <meta name="description" content="{{ Meta.metaDescription() }}">
        <meta name="keywords" content="{{ Meta.metaKeywords() }}">

        <?php if (APPLICATION_ENV === 'development'): ?>
            <meta http-equiv="Cache-Control" content="max-age=0" />
            <meta http-equiv="Cache-Control" content="no-cache" />
            <meta http-equiv="Expires" content="0" />
            <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
            <meta http-equiv="Pragma" content="no-cache" />
        <?php else: ?>
            <meta http-equiv="Cache-Control" content="public">
            <meta http-equiv="Cache-Control" content="max-age=99090600, must-revalidate">
        <?php endif; ?>

        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/assets/favicon.ico"/>
        <meta name="token" title="<?= $this->security->getTokenKey() ?>" content="<?= $this->security->getToken() ?>"/>
        <!-- /Get meta -->

        <!-- Append Stylesheet -->
        <?php $this->assets->outputCss('header-css'); ?>
        <!-- /Append Stylesheet -->

        <!-- Javascript area content -->
            <?php $this->assets->outputJs('header-js'); ?>
        <!-- /Javascript area content -->
        <title ng-bind="title"><?php echo $this->filter->sanitize($this->tag->getTitle(), "striptags"); ?></title>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <?=$this->tag->javascriptInclude("https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", false); ?>
        <?=$this->tag->javascriptInclude("https://oss.maxcdn.com/respond/1.4.2/respond.min.js", false); ?>
        <![endif]-->
    </head>
    <body>
        <!-- Checkout bar -->
        <header class="header-top">
            <div class="wrap">
                <div class="logo">
                    <a href="/">
                        <?=$this->tag->image(["assets/frontend/".strtolower($engine['code'])."/images/logo.png", "alt" => "Logo"]); ?>
                    </a>
                </div>
                <!-- Top menu -->
                <?php $this->partial('top-menu', ['menu' => $menu['top'], 't' => $t->assign('menu')]); ?>
                <!-- /Top menu -->

                <!-- Mini cart -->
                <?php $this->partial('mini-cart'); ?>
                <!-- /Mini cart -->
                <div class="clear"></div>
            </div>

            <!-- Mini cart -->
            <?php $this->partial('mega-menu'); ?>
            <!-- /Mini cart -->
        </header>
        <!-- /Checkout bar -->

        <!-- Content -->
        <section class="main view-animate-container">
            <div class="wrap">
                <div ng-view class="view-animate"></div>
            </div>
        </section>
        <!-- /Content -->

        <!-- Footer -->
        <footer class="footer navbar" class="view-animate">
            <!-- Language switcher -->
            <?php $this->partial('language'); ?>
            <!-- /Language switcher -->
        </footer>
        <!-- /Footer -->
        <?php $this->assets->outputJs('footer-js'); ?>
        <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
    </body>
</html>