<section class="row">
    <header class="col-md-12">
        <hr>
        <h3 class="m_3"><span class="glyphicon glyphicon-book"></span> {{title}}</h3>
        <hr>
    </header>
    <div class="clearfix"></div>
    <div class="col-md-12">
        Wellcome to account , {{user.name}}!
    </div>
</section>