<section class="row">
    <header class="col-lg-8">
        <hr>
            <h3 class="m_3"><span class="glyphicon glyphicon-book"></span> {{title}}</h3>
        <hr>
        <img ng-src="http://placehold.it/900x300" class="img-responsive" alt="">
        <hr>
        <article class="m_desc justify" ng-bind-html="trusty(content)"></article>
    </header>
    <div class="col-md-4">
        <nav ng-controller="TopMenuCtrl" class="ng-scope well">
            <ul class="list-unstyled">
                <li ng-class="{ active:isActive('/')}">
                    <a href="/" translate="HOME">HOME</a>
                </li>
                <li ng-class="{ active:isActive('/agreement')}">
                    <a href="/agreement" translate="AGREEMENT">AGREEMENT</a>
                </li>
                <li ng-class="{ active:isActive('/help')}">
                    <a href="/help" translate="HELP">HELP</a>
                </li>
                <li ng-class="{ active:isActive('/contacts')}">
                    <a href="/contacts" translate="CONTACTS">CONTACTS</a>
                </li>
                <li ng-class="{ active:isActive('/about')}">
                    <a href="/about" translate="ABOUT">ABOUT</a>
                </li>
            </ul>
        </nav>
    </div>
</section>