<nav ng-controller="TopMenuCtrl" class="cssmenu">
    <?php if(empty($menu) === false): ?>
        <ul class="top-menu">
            <?php foreach($menu as $i => $item): ?>
                <span ng-if="isAuthenticated">
                    <li ng-if="<?=$item['isAuthenticated']?> == true" <?=(isset($item['controller'])) ? 'ng-controller="'.$item['controller'].'"' : ''?> ng-class="{ active:isActive('<?=$item['url'];?>')}">
                        <a <?=(isset($item['onclick'])) ? 'ng-click="'.$item['onclick'].'"' : ''?> href="<?=$item['url'];?>" translate="<?=$item['translate'];?>"></a>
                    </li>
                </span>
                <span ng-if="!isAuthenticated">
                    <li ng-if="<?=$item['isAuthenticated']?> == false" <?=(isset($item['controller'])) ? 'ng-controller="'.$item['controller'].'"' : ''?> ng-class="{ active:isActive('<?=$item['url'];?>')}">
                        <a <?=(isset($item['onclick'])) ? 'ng-click="'.$item['onclick'].'"' : ''?> href="<?=$item['url'];?>" translate="<?=$item['translate'];?>"></a>
                    </li>
                </span>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
</nav>