<!DOCTYPE html>
<html>
<head>
    <!-- Get meta -->
    <?= $this->tag->tagHtml('meta', ['charset' => 'UTF-8']) . PHP_EOL; ?>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="generator" content="Phalcon">
    <meta name="author" content="Stanislav WEB">
    <meta http-equiv="Cache-Control" content="public">
    <meta http-equiv="Cache-Control" content="max-age=99090600, must-revalidate">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/assets/favicon.ico"/>
    <?= $this->tag->getTitle(); ?>
    <!-- /Get meta -->
    <!-- Append Stylesheet -->
    <?php if (APPLICATION_ENV == 'production'): ?>
        <?= $this->tag->stylesheetLink("https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", false); ?>
        <?= $this->tag->stylesheetLink("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", false); ?>
        <?= $this->tag->stylesheetLink("http://fonts.googleapis.com/css?family=Righteous", false); ?>
        <?= $this->tag->stylesheetLink("//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.core.min.css", false); ?>
        <?= $this->tag->stylesheetLink("//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.default.min.css", false); ?>
        <?= $this->tag->stylesheetLink("//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.bootstrap.min.css", false); ?>
    <?php else: ?>
        <?= $this->tag->stylesheetLink("assets/backend/css/bootstrap/bootstrap.min.css", true); // local  ?>
        <?= $this->tag->stylesheetLink("assets/backend/css/bootstrap/font-awesome.min.css", true); // local  ?>
        <?= $this->tag->stylesheetLink("assets/backend/css/font-righteous.css", true); // local  ?>
        <?= $this->tag->stylesheetLink("assets/plugins/alertify/css/alertify.core.min.css", true); // local  ?>
        <?= $this->tag->stylesheetLink("assets/plugins/alertify/css/alertify.default.min.css", true); // local  ?>
        <?= $this->tag->stylesheetLink("assets/plugins/alertify/css/alertify.bootstrap.min.css", true); // local  ?>
    <?php endif; ?>
    <?= $this->tag->stylesheetLink('assets/plugins/jquery-ui/jquery-ui.css', true); ?>
    <?= $this->tag->stylesheetLink('assets/plugins/bootstrapvalidator/bootstrapValidator.min.css', true); ?>
    <?= $this->tag->stylesheetLink('assets/plugins/select2/select2.css', true); ?>
    <?= $this->tag->stylesheetLink('assets/backend/css/style.css', true); ?>

    <!-- /Append Stylesheet -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <?=$this->tag->javascriptInclude("https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", false); ?>
    <?=$this->tag->javascriptInclude("https://oss.maxcdn.com/respond/1.4.2/respond.min.js", false); ?>
    <![endif]-->
</head>
<body>
<!-- Overlay locker -->
<div id="screensaver">
    <canvas id="canvas"></canvas>
    <i class="fa fa-lock" id="screen_unlock"></i>
</div>
<!-- /Overlay locker -->

<!-- Modal Box -->
<div id="modalbox">
    <div class="devoops-modal">
        <div class="devoops-modal-header">
            <div class="modal-header-name">
                <span>Basic table</span>
            </div>
            <div class="box-icons">
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="devoops-modal-inner"></div>
        <div class="devoops-modal-bottom"></div>
    </div>
</div>
<!-- /Modal Box -->

<!-- Content -->

<!-- Start Top -->
<?php $this->partial("dashboard/top", ['user' => $user]) ?>
<!-- /End Top -->

<!--Start Container-->
<div id="main" class="container-fluid">
    <div class="row">

        <!-- Start Sidebar -->
        <?php $this->partial("dashboard/sidebar", ['navigation' => $navigation]) ?>
        <!-- /End Sidebar -->

        <div id="content" class="col-xs-12 col-sm-10">
            <!-- Breadcrumbs -->
            <?php $breadcrumbs->generate(); ?>
            <!-- /Breadcrumbs -->

            <!-- Flash messenger -->
            <?php $this->flash->output() ?>
            <!-- /Flash messenger -->

            <!--Start Ajax Content-->
            <div id="ajax-content">
                <?php echo $this->getContent() ?>
            </div>
            <!--End Ajax Content-->

            <div class="preloader">
                <?= $this->tag->image(['assets/backend/img/devoops_getdata.gif', "alt" => 'loader']); ?>
            </div>
        </div>
    </div>
</div>
<!-- /Content -->

<!-- Javascript area content -->
<?php if (APPLICATION_ENV == 'production'): ?>
    <?= $this->tag->javascriptInclude("//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js", false); ?>
    <?= $this->tag->javascriptInclude("//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js", false); ?>
    <?= $this->tag->javascriptInclude("https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js", false); ?>
    <?= $this->tag->javascriptInclude("//tinymce.cachefly.net/4.1/tinymce.min.js", false); ?>
    <?= $this->tag->javascriptInclude("//cdnjs.cloudflare.com/ajax/libs/alertify.js/0.3.11/alertify.min.js", false); ?>
<?php else: ?>
    <?= $this->tag->javascriptInclude("assets/plugins/jquery/dist/jquery.min.js", true);  // local ?>
    <?= $this->tag->javascriptInclude("assets/plugins/jquery-ui/jquery-ui.min.js", true); ?>
    <?= $this->tag->javascriptInclude("assets/plugins/bootstrap/dist/js/bootstrap.min.js", true);  // local ?>
    <?= $this->tag->javascriptInclude("assets/plugins/justified-gallery/jquery.justifiedGallery.min.js", true); ?>
    <?= $this->tag->javascriptInclude("assets/plugins/tinymce/tinymce.min.js", true); // local  ?>
    <?= $this->tag->javascriptInclude("assets/plugins/alertify/js/alertify.min.js", true);  // local ?>
<?php endif; ?>
<?= $this->tag->javascriptInclude("assets/plugins/bootstrapvalidator/bootstrapValidator.min.js", true);  // local ?>
<?= $this->tag->javascriptInclude("assets/backend/js/common.js", true);  // local  ?>
<?= $this->tag->javascriptInclude("assets/backend/js/devoops.js", true);  // local  ?>
<!-- /Javascript area content -->
<?= (isset($toolbar) === true) ? $toolbar->render() : ''; ?>
</body>
</html>